$fontSize:14px;
$textColor:#777777;
$textSecondaryColor:lighten($textColor,5%);
$borderRadius:3px;
$dividerColor:#eaeaea;
$iconFontSize:16px;
$iconWidth:16px;
$iconHeight:16px;
$mainColor: #61d42d;
$fontFamily: "Source Sans Pro","Helvetica Neue",sans-serif;